@model ResetPasswordViewModel

<h2>Reset Password</h2>

<form asp-action="ResetPassword" method="post">
    <input type="hidden" asp-for="Token" />
    <input type="hidden" asp-for="Email" />

    <div class="mb-3 position-relative">
        <label asp-for="NewPassword" class="form-label"></label>
        <div class="input-group">
            <input asp-for="NewPassword" type="password" class="form-control" />
            <span class="input-group-text password-toggle" style="cursor:pointer;">
                <i class="fa fa-eye"></i>
            </span>
        </div>
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>


    <div class="mb-3 position-relative">
        <label asp-for="ConfirmPassword" class="form-label"></label>
        <div class="input-group">
            <input asp-for="ConfirmPassword" type="password" class="form-control" />
            <span class="input-group-text password-toggle" style="cursor:pointer;">
                <i class="fa fa-eye"></i>
            </span>
        </div>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-primary">Reset Password</button>
</form>
