@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>About Royuie</h2>
<p>
    Royuie is a trend-forward fashion label dedicated to empowering style with bold elegance. Based in Singapore, we strive to bring quality fashion to your fingertips, combining chic design with affordable pricing.
</p>
