@{
    ViewData["Title"] = "Terms & Conditions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Terms & Conditions</h2>
<p>
    By using this site, you agree to our terms of service. All purchases are subject to availability and our return/refund policies. We reserve the right to modify these terms at any time.
</p>
