body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lavenderblush;
    color: black;
}

/* Navbar */
.navbar {
    background-color: hotpink;
}

.nav-link,
.navbar-brand {
    color: purple !important;
    font-weight: bold;
}

/* Dropdown Menu */
.dropdown-menu {
    background-color: mistyrose;
}

.dropdown-item:hover {
    background-color: lightpink;
}

/* Icon Section */
.icon-section i {
    font-size: 2rem;
    color: orchid;
}

/* wrapper section */
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Full viewport height */
}

/* Footer */
.footer {
    background-color: plum;
    padding: 20px;
    text-align: center;
    font-size: 1rem;
}

    .footer a {
        color: blue;
        text-decoration: none;
    }

        .footer a:hover {
            text-decoration: underline;
        }

    .footer i {
        margin-right: 6px;
        color: purple;
    }
